$primary-color: #272a32;
$accent-color: #ec5242;
$background-color: #d3d3d3;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* > a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  line-height: 1rem;
  position: fixed;
  background-color: whitesmoke;
  width: 100%;

  nav.navbar {
    background-color: whitesmoke;
    padding: 4px;
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: -100%;
    top: 0;
    bottom: 0;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    transition: left 0.25s ease-in-out;

    ul {
      li {
        padding: 1rem;
        list-style: none;
        text-align: center;
      }

      li#menu-btn-close {
        justify-self: end;
        text-align: right;
      }
    }
  }

  nav.navbar.show {
    left: 0;
  }

  #menu-btn {
    i {
      font-size: 1.5rem;
    }
  }

  #logo {
    display: none;
  }
}

main {
  margin-top: calc(2rem + 1.5rem);
  display: flex;
  flex-direction: column;

  section.headline {
    height: calc(100vh - 2rem - 1.5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;

    .title {
      color: $accent-color;
    }

    .box {
      margin: 0.5rem;
      border: white solid 2px;
      border-radius: 2px;
      padding: 0.25rem;
      font-size: 0.8rem;
    }

    #date {
      color: $primary-color;
      align-self: start;

      span {
        font-size: 0.8rem;
      }
    }
  }

  section.testing {
    h1 {
      color: $accent-color;
    }
  }
}
